$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1C1C1C;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border: 2px solid #A4A4A4;
    font-color: #A4A4A4;
    margin: 0 auto;
    //max-height: 375px;
    padding: 0px;
    max-width: 625px;
    border-bottom: 0;
    background: #660000;
    h1 {
        margin: 15px auto;
        color: #A4A4A4;
        font-family: 'Indie Flower', cursive;
        font-variant: small-caps;
        font-weight: 700;
    }
    p {
        color: #A4A4A4;
        font-family: 'Ubuntu', sans-serif;
        font-variant: small-caps;
    }
}

.jumbotron .btn {
    background-color: #f4730d;
    font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container li {
        list-style-type: none;

    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.contentChoices {
    max-width: 75%;
    cursor: pointer;
    margin: 0 auto;
    img {
        width: 50%;
        height: 25%;
    }
    .nav-tabs {
        margin: 0 auto;
        background: #660000;
        border-bottom: 0;
        border-radius: 4px;
        li {
        border: 2px solid #A4A4A4;
        border-top: 0;
        border-bottom: 0;
        border-radius: 4px;
        padding: 0;
        }
        .nav-justified > li > a {
            font-family: "PT Sans Caption", sans-serif;
            font-variant: small-caps;
            border: 0;
            padding: 0;
        }
    }
    .btn {
        background-color: #f4730d;
    }
    .col-md-4 {
        margin: 10px auto;
    }
    .col-md-8 {
        margin: 10px auto;
    }
    ul {
        padding: 0;
        margin: 10px;
    }
    p {
        color: #A4A4A4;
        font-family: "PT Sans Caption", sans-serif;
        font-variant: small-caps;
    }
    a > p {
        font-style: italic;
    }
    h1 {
        color: #A4A4A4;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: underline;
        text-indent: 15%;
        font-variant: small-caps;
        font-weight: 500;
    }
    .gitBadge {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.scaffolds {
    border: 2px solid #A4A4A4;
    border-top: 0;
    border-radius: 10px;
    background-color: #660000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jsFrameworks {
    border: 2px solid #A4A4A4;
    border-top: 0;
    border-radius: 10px;
    background-color: #660000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hosting {
    border: 2px solid #A4A4A4;
    border-top: 0;
    border-radius: 10px;
    background-color: #660000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.miscTools {
    border: 2px solid #A4A4A4;
    border-top: 0;
    border-radius: 10px;
    background-color: #660000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #A4A4A4;
    border-radius: 10px;
}

.well {
    margin: 0 auto;
    max-width: 40%;
    text-align: center;
    border-bottom: 2px solid #A4A4A4;
    border-top: 2px solid #A4A4A4;
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
    background: #660000;
    p {
        color: #A4A4A4;
        font-family: "PT Sans Caption", sans-serif;
        font-variant: small-caps;
        font-style: italic;
        margin: 0 auto;
    }
    .glyphicon {
        color: yellow;
    }
}

.appDetails {
    border: 2px solid #A4A4A4;
    border-top: 0;
    border-radius: 10px;
    background-color: #660000;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 254px;
    width: 265px;
    .detailDisplay {
        padding: 0;
        max-width: 85%;
        margin: 5px auto 5px auto;
    }
    ul {
        padding: 0;
    }
    li {
        margin: 10px auto;
        max-width: 80%;
    }
    .dropdown-menu {
        width: 325px;
        position: fixed;
        left: 250px !important;
        top: 375px !important;
    }
    h4 {
        color: #A4A4A4;
        font-family: "Cuprum", sans-serif;
        font-variant: small-caps;
    }
}

.buttonRows {
    ul {
        margin: 5px auto;
    }
    li {
        list-style-type: none;
        display: inline-block;
    }
    .glyphicon-link {
        margin: 2px;
        font-size: 30px;
        color: #345DD9;
    }
    .glyphicon-pushpin {
        margin: 2px;
        font-size: 30px;
        color: #F2F063;
    }
}



































