$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #424242;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border: 2px solid #A4A4A4;
    font-color: #A4A4A4;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    border-bottom: 0;
    background: #0B173B;
    h1 {
        color: #A4A4A4;
    }
    p {
        color: #A4A4A4;
    }
}

.jumbotron .btn {
    background-color: #f4730d;
    font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container li {
        list-style-type: none;

    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    /* .jumbotron {
        margin-right: auto;
        margin-left: auto;
        max-width: 700px;
        border-bottom: 0;
        background: #0B173B;
        h1 {
            color: #A4A4A4;
        }
        p {
            color: #A4A4A4;
        }
    }*/
}

.contentChoices {
    img {
        width: 75%;
        height: 50%;
    }
    .btn {
        background-color: #f4730d;
    }
    .col-md-4 {
        margin: 0 auto;
    }
    .col-md-8 {
        margin: 0 auto;
    }
}

.nextButton {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.scaffolds {
    border: 2px solid #A4A4A4;
    border-top: 0;
    border-radius: 10px;
    background-color: #0B173B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jsFrameworks {
    border: 2px solid #A4A4A4;
    border-top: 0;
    background-color: #0B173B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hosting {
    border: 2px solid #A4A4A4;
    border-top: 0;
    background-color: #0B173B;
    margin-top: 10px;
    margin-bottom: 10px;
}

.miscTools {
    border: 2px solid #A4A4A4;
    border-top: 0;
    background-color: #0B173B;
    margin-top: 10px;
    margin-bottom: 10px;
}





























