<div ng-controller="MainCtrl">
<appinfo class="appDetails"></appinfo>
<recents></recents>


<tabset class="contentChoices" justified="true" >
		<tab heading="Scaffolding Tools">
			<div class="scaffolds">
				<ul>
					<li class="row" ng-repeat="item in scaffoldThings">
						<div class="col-md-4"> 
							<img ng-src="{{item.image}}">
							<div class="gitBadge">
								<iframe ng-src="{{trustWatch(item.watch)}}" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> 
								<br>
								<iframe ng-src="{{trustFork(item.fork)}}" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> 
								<br>
							</div>
							
						</div>
						<div class="col-md-8">
							<ul>
								<li><h1>{{item.displayName}}</h1></li>
								<li><a ng-href="{{item.link}}" target="_blank"><p>Check their site.</p></a></li>
								<li><buttonrow class="buttonRows"></buttonrow></li>
								<li><p>{{item.description}}</p></li>
								
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</tab>
		<tab heading="Javascript Tools">
			<div class="jsFrameworks">
				<ul>
					<li class="row" ng-repeat="item in jsThings">
						<div class="col-md-4"> 
							<img src="{{item.image}}">
							<div class="gitBadge">
								<iframe ng-src="{{trustWatch(item.watch)}}" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> 
								<br>
								<iframe ng-src="{{trustFork(item.fork)}}" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> 
								<br>
							</div>
						</div>
						<div class="col-md-8">
							<ul>
								<li><h1>{{item.displayName}}</h1></li>
								<li><a ng-href="{{item.link}}" target="_blank"><p>Check their site.</p></a></li>
								<li><buttonrow class="buttonRows" ></buttonrow></li>
								<li><p>{{item.description}}</p></li>
								
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</tab>
		<tab heading="App Hosting and Databases">
			<div class="hosting">
				<ul>
					<li class="row" ng-repeat="item in hostingThings">
						<div class="col-md-4"> 
							<img src="{{item.image}}">
							<div class="gitBadge">
								<iframe ng-src="{{trustWatch(item.watch)}}" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> 
								<br>
								<iframe ng-src="{{trustFork(item.fork)}}" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> 
								<br>
							</div>
						</div>
						<div class="col-md-8">
							<ul>
								<li><h1>{{item.displayName}}</h1></li>
								<li><a ng-href="{{item.link}}" target="_blank"><p>Check their site.</p></a></li>
								<li><buttonrow class="buttonRows" ></buttonrow></li>
								<li><p>{{item.description}}</p></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</tab>
		<tab heading="Misc.">
			<div class="miscTools">
				<ul>
					<li class="row" ng-repeat="item in miscThings">
						<div class="col-md-4"> 
							<img src="{{item.image}}">
							<div class="gitBadge">
								<iframe ng-src="{{trustWatch(item.watch)}}" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> 
								<br>
								<iframe ng-src="{{trustFork(item.fork)}}" allowtransparency="true" frameborder="0" scrolling="0" width="115" height="20"></iframe> 
								<br>
							</div>
							
						</div>
						<div class="col-md-8">
							<ul>
								<li><h1>{{item.displayName}}</h1></li>
								<li><a ng-href="{{item.link}}" target="_blank"><p>Check their site.</p></a></li>
								<li><buttonrow class="buttonRows" ></buttonrow></li>
								<li><p>{{item.description}}</p></li>
								
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</tab>
		
</tabset>
</div>