<div class="contentChoices" ng-controller="MainCtrl">
	<div class="scaffolds">
		<ul>
			<li class="row" ng-repeat="item in scaffoldThings">
				<div class="col-md-4"> <img src="{{item.image}}"></div>
				<div class="col-md-8">
					<ul>
						<li>{{item.name}}</li>
						<li><a ng-href="{{item.link}}">Check their site.</a></li>
						<li>{{item.description}}</li>
					</ul>
				</div>
			</li>
			<li class="nextButton"><a ng-href=""><div class="btn btn-sm"> What Next?</div></a></li>
		</ul>
	</div>

	<div class="jsFrameworks">
		<ul>
			<li class="row" ng-repeat="item in jsThings">
				<div class="col-md-4"> <img src="{{item.image}}"></div>
				<div class="col-md-8">
					<ul>
						<li>{{item.name}}</li>
						<li><a ng-href="{{item.link}}">Check their site.</a></li>
						<li>{{item.description}}</li>
					</ul>
				</div>
			</li>
			<li class="nextButton"><a ng-href=""><div class="btn btn-sm"> What Next?</div></a></li>
		</ul>
	</div>

	<div class="hosting">
		<ul>
			<li class="row" ng-repeat="item in hostingThings">
				<div class="col-md-4"> <img src="{{item.image}}"></div>
				<div class="col-md-8">
					<ul>
						<li>{{item.name}}</li>
						<li><a ng-href="{{item.link}}">Check their site.</a></li>
						<li>{{item.description}}</li>
					</ul>
				</div>
			</li>
			<li class="nextButton"><a ng-href=""><div class="btn btn-sm"> What Next?</div></a></li>
		</ul>
	</div>

	<div class="miscTools">
		<ul>
			<li class="row" ng-repeat="item in miscThings">
				<div class="col-md-4"> <img src="{{item.image}}"></div>
				<div class="col-md-8">
					<ul>
						<li>{{item.name}}</li>
						<li><a ng-href="{{item.link}}">Check their site.</a></li>
						<li>{{item.description}}</li>
					</ul>
				</div>
			</li>
			<li class="nextButton"><a ng-href=""><div class="btn btn-sm"> What Next?</div></a></li>
		</ul>
	</div>
</div>